*{
    Margin:0:
    Padding: 0;
    Box-size: border-box;
}
    
Img{
    Max-width: 100%;
    }

a {
 text-decoration: none; 
color: inherit;
}

ul,
ol,
menu,
li{
list-style-type: none;
}

:root{
    --blue: #0084FD;
    --lightblue:#B5DDFF;
    --yellow:
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
display: flex;
flex-wrap: wrap;
}
.row-2{
    display: flex;
    flex-wrap: wrap;
}

.row-colunn{
    display: flex;
    flex-direction: column;
    gap:5px;
    
}


/* **************** */
/* COLONNE *****/
/* **************** */

.col-3{
    flex-basis: calc(100% / 3);
}

.col-2{
    flex-basis: calc(100%* 2/3);
}

.col_50{
    flex-basis: 50%;
}

.col1{
    flex-basis:100%;
}



/* **************** */
/* BOTTONI *****/
/* **************** */


.btn{
    border-radius: 20px;
    padding: 8px !important;
    font-size: 13px;
    line-height: 3px !important;
}
.btn, .btn-w{
    background-color: white;
    color: black;
}

.btn-blue{
    background-color: #0084FD;
    color: white;
    font-size: 20px;
    text-align: center;
    max-width: 150px;
}

.icon-hero{
  font-size: 70px;
  color: #0084FD;
  text-align: center;
}
     



/* **************** */
/* TITOLI *****/
/* **************** */

.title-blu{
    color:blue;
    font-size: 30px;
}


/* **************** */
/* TESTI *****/
/* **************** */

.text-white{
    color:white;
}


.text-descp-giust{
    font-size: 18px;
}

.tx_cent{
    text-align: center;
}


/* **************** */
/* HEADER *****/
/* **************** */


.header-nav{

}

.justify-cnt{
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: white;
}

.header-nav{

}

.main-header{
    background-color: blue;
}

.nav-item{
   line-height: 18px;
   padding: 0 16px;

}


.icon-hamburger{
font-size: 25px;
}

/* MEDIA QUERY HEADER */

.icon-hamburger{
    display: none;
}

@media screen and (max-width: 575px ){
  .header-nav {
        display: none;
    }

   .icon-hamburger{
    display: block;
   } 

}




/* **************** */
/* SEZIONE HERO *****/
/* **************** */

.card_hero{
    background-color: red;
    border: 2px solid yellow;
    /* padding: 20px; */
    margin: 0 auto;
}



.card{
    background-color: #B5DDFF;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 0 20px;
}



.img_hero1{
    margin-bottom: -40px;
}

.

/* **************** */
/* SEZIONE HERO MEDIA QUERY *****/
/* **************** */

@media screen and (max-width: 576px) {
    .col-2{
        flex-basis: 100%;
    }

    .col-3{
        flex-basis: 100%;
    }
    
}









